<div layout="column">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools md-padding">
            <h1 class="md-display-2 md-padding" flex md-truncate>Estimatable</h1>
        </div>
    </md-toolbar>

    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#!/project" name="page1">
            Projects
        </md-nav-item>
        <md-nav-item md-nav-href="#!/time" name="page2">
            Times
        </md-nav-item>
    </md-nav-bar>

</div>