<div layout="column">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools md-padding">

            <!-- <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button> -->

            <h1 class="md-display-2 md-padding" flex md-truncate>Estimatable</h1>

            <!-- <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button> -->

        </div>
    </md-toolbar>


    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#!/project-overview" name="page1">
            Projects
        </md-nav-item>
        <md-nav-item md-nav-href="#!/time" name="page2">
            Times
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="page3">
            Map
        </md-nav-item>
    </md-nav-bar>

</div>