<form ng-submit="vm.addProject(vm.newProject)">
    <h3>Add Project</h3>
    <!-- as simple as possible right now, we'll style once we add Material -->
    <input type="text" ng-model="vm.newProject.name" placeholder="project name here" />
    <input type="submit" />
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Entries</th>
            <th>Total Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in vm.displayProjects">
            <td>{{project.name}}</td>
            <td>{{project.number_of_entries}}</td>
            <td>{{project.total_time}}</td>
            <td>
                <button ng-click="vm.editProject(project)">Delete</button>
            </td>
            <td>
                <button ng-click="vm.deleteProject(project)">Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>

<pre>{{vm | json}}</pre>