<md-content layout="column">

    <div layout="column" ng-hide="vm.currentProject == 0">

        <button flex class="md-button md-primary md-raised" ng-click="vm.navigateToProject(0)">
            Root
        </button>

        <button flex class="md-button md-primary md-raised" ng-click="vm.navigateToProject(vm.parentProject)">
            Up a Level
        </button>

    </div>

    <!-- current project -->
    <md-card ng-repeat="project in vm.displayProjects">

        <!-- <md-card-header>
            <md-card-header-text>
                <span class="md-headline">{{project.name}}</span>
                <span class="md-subhead">{{project.description}}</span>
            </md-card-header-text>
        </md-card-header> -->


        <md-card-title>
            <md-card-title-text layout="column" layout-align="start start">
                <span class="md-display-1">{{project.name}}</span>
                <span class="md-subhead">{{project.description}}</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>

            <!-- <p>{{project.description}}</p> -->
            <table class="my-table">
                <thead>
                    <tr>
                        <th>estimate</th>
                        <th>actual</th>
                        <th>accuracy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2:00</td>
                        <td>3:00</td>
                        <td>150%</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>

            <div class="md-padding">
            </div>

            <div class="md-padding">
                <span class="md-body md-padding">Tap a sub-project for details</span>
            </div>

            <md-card ng-repeat="child in project.children" ng-click="vm.navigateToProject(child.id)">

                <md-card-title>
                    <md-card-title-text layout="column" layout-align="start start">
                        <span class="md-headline">{{child.name}}</span class="md-headline">
                        <span class="md-subhead">{{child.description}}</span>
                    </md-card-title-text>
                </md-card-title>

                <!-- <md-card-header>
                    <md-card-header-text>
                        <button ng-click="vm.navigateToProject(child.id)">{{child.name}}</button>
                    </md-card-header-text>
                </md-card-header> -->
                <md-card-content>
                    <table class="my-table">
                        <thead>
                            <tr>
                                <th>estimate</th>
                                <th>actual</th>
                                <th>accuracy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2:00</td>
                                <td>3:00</td>
                                <td>150%</td>
                            </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                </md-card-content>
            </md-card>

            <h3>Time Entries</h3>
            <table class="my-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>start</th>
                        <th>end</th>
                        <th>total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="timeEntry in project.time_entries" ng-show="timeEntry.end_date">
                        <td>
                            <button ng-click="vm.stageEditTime(timeEntry)">E</button>
                            <button ng-click="vm.deleteTime(timeEntry)">D</button>
                        </td>
                        <td>
                            {{timeEntry.start_date | date : "shortTime"}}<br />
                            {{timeEntry.start_date | date : "shortDate"}}
                        </td>
                        <td>
                            {{timeEntry.end_date | date : "shortTime"}}<br />
                            {{timeEntry.end_date | date : "shortDate"}}
                        </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="timeEntry in project.time_entries" ng-show="!timeEntry.end_date">
                        <td>
                            <button ng-click="vm.stageEditTime(timeEntry)">E</button>
                            <button ng-click="vm.deleteTime(timeEntry)">D</button>
                        </td>
                        <td>
                            {{timeEntry.start_date | date : "shortTime"}}<br />
                            {{timeEntry.start_date | date : "shortDate"}}
                        </td>
                        <td>
                            <button ng-click="vm.stopTime(timeEntry.id)">Stop</button>
                        </td>
                        <td></td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <button ng-click="vm.addTime(project.id)">
                                Start
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>


        </md-card-content>

        <md-card-actions layout="row" layout-align="front center">
            <md-button>Edit</md-button>
            <md-button>Delete</md-button>
        </md-card-actions>

    </md-card>



</md-content>