<h3>Time Entries</h3>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Time</th>
            <th>Project</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="time in vm.displayTimeEntries">
            <td>{{time.description}}</td>
            <td>{{time.date | date : "dd MMM yyyy"}}</td>
            <td>{{time.start_time}}</td>
            <td>{{time.end_time}}</td>
            <td>{{time.total_time}}</td>
            <td>{{time.project}}</td>
            <td>
                <button ng-click="vm.deleteTimeEntry(time)">Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta autem esse nulla pariatur obcaecati laborum et nisi
quaerat odit praesentium quos, at quibusdam qui quia dignissimos exercitationem nemo. Tempore!

<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="vm.showForm()" style="position: fixed !important;">
    Add
    <!-- <ng-md-icon icon="add"></ng-md-icon> -->
</md-button>

<!-- <pre>{{vm | json}}</pre> -->

<div style="visibility: hidden" layout="column">
    <div class="md-dialog-container" id="myStaticDialog">
        <md-dialog>
            <form ng-submit="vm.addTimeEntry(vm.newTimeEntry)">
                <h3>Add Time Entry</h3>
                <input type="text" ng-model="vm.newTimeEntry.description" placeholder="what did you do?" />
                <select ng-model="vm.newTimeEntry.project_id" ng-options="project.id as project.name for project in vm.optionsProjects">
                </select>
                <input type="text" ng-model="vm.newTimeEntry.date" placeholder="date" />
                <input type="text" ng-model="vm.newTimeEntry.startTime" placeholder="start time" />
                <input type="text" ng-model="vm.newTimeEntry.endTime" placeholder="end time" />
                <div layout="row">
                    <button flex="50" class="md-button" ng-click="vm.closeMe()">Close</button>
                    <input flex="50" class="md-button md-primary md-raised" type="submit" ng-click="vm.closeMe()" />
                </div>
            </form>
        </md-dialog>
    </div>
</div>