<md-content layout="column">

    <md-card>
        <md-card-title>
            <md-card-title-text layout="column" layout-align="start start">
                <span class="md-display-1">Time Entries</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>

            <table class="my-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>start_date</th>
                        <th>end_date</th>
                        <th>project_id</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="timeEntry in vm.displayTimeEntries">
                        <td>{{timeEntry.id}}</td>
                        <td>
                            <span class="md-caption">
                                {{timeEntry.start_date | date : "shortTime"}}<br />
                                {{timeEntry.start_date | date : "shortDate"}}
                            </span>
                        </td>
                        <td>
                            <span class="md-caption">
                                {{timeEntry.end_date | date : "shortTime"}}<br />
                                {{timeEntry.end_date | date : "shortDate"}}
                            </span>
                        </td>
                        <td>{{timeEntry.project}}</td>
                        <td>
                            <div layout="row">
                                <md-button class="md-icon-button" ng-click="vm.stageEditTime(timeEntry)">
                                    <i class="material-icons" style="font-size: 16px;">settings</i>
                                </md-button>
                                <md-button class="md-icon-button" ng-click="vm.deleteTime(timeEntry)">
                                    <i class="material-icons" style="font-size: 16px;">delete</i>
                                </md-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>

        </md-card-content>

    </md-card>

    <md-card>
        <md-card-title>
            <md-card-title-text layout="column" layout-align="start start">
                <span class="md-display-1">Projects</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>

            <table class="my-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>description</th>
                        <th>estimated_time</th>
                        <th>parent_id</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in vm.displayProjects">
                        <td>{{project.id}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.estimated_time}}</td>
                        <td>{{project.parent}}</td>
                        <td>
                            <md-button class="md-icon-button" ng-click="vm.stageEditProject(project)">
                                <i class="material-icons" style="font-size: 16px;">settings</i>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.deleteProject(project)">
                                <i class="material-icons" style="font-size: 16px;">delete</i>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>

        </md-card-content>

    </md-card>

</md-content>

<ng-include src="'views/modals.html'"></ng-include>